<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322730580665-mbjgks320da0eea92tk125a3o2fde9fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322730580665-mbjgks320da0eea92tk125a3o2fde9fo</string>
	<key>API_KEY</key>
	<string>AIzaSyB2L2fkuShiufM70nC3czGFI4Yjw4Z8QQk</string>
	<key>GCM_SENDER_ID</key>
	<string>322730580665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beda2</string>
	<key>PROJECT_ID</key>
	<string>beda-54797</string>
	<key>STORAGE_BUCKET</key>
	<string>beda-54797.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322730580665:ios:ecb810a76fc68982541968</string>
</dict>
</plist>